/*General*/

* {
	box-sizing: border-box;
	max-width: 540px;
}

body {
	background: #FAF5E6;
	margin: 0;
	padding: 0;
}

h2 {
	font-size: 25px;
}

h2 {
	font-size: 20px;
}

h3 {
	font-size: 15px;
}

h4 {
	font-size: 10px;
}

/*Cabezera*/

.cabezera {
	background: #FAF9F4;
	padding: 5px 15px;
	border-bottom: 1px solid #2D2C2E;
	position: fixed;
	width: 100%;
	top: 0;
}

.cabezera .barra {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: center;
}

.cabezera .barra .barra-icono-menu i {
	cursor: pointer;
	font-size: 30px;
}

.cabezera .barra h1 {
	font-size: 30px;
	color: #FD1F4A;
}

.cabezera .barra .barra-logo {
	width: 90px;
}

.cabezera .barra .barra-logo img {
	width: 100%;
}

/*Menu*/

.menu {
	padding: 10px;
	border-bottom: 1px solid #2D2C2E;
	border-right: 1px solid #2D2C2E;
	width: 90%;
	margin-top: 10px;
	position: fixed;
	top: 100px;
	background: #FAF9F4;
	display: none;
	box-shadow: 2px 2px 10px grey;
}

.menu .perfil {
	display: flex;
	flex-wrap: nowrap;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	width: 90%;
	border-bottom: 1px solid #FD1F4A;
}

.menu .perfil .foto {
	width: 80px;

}

.menu .perfil .foto img {
	width: 100%;	
	border-radius: 50%;
}

.menu .perfil h3 {
	margin-left: 10px;
}

.menu .menu-items {
	margin-top: 10px;
}

.menu .menu-items a {
	display: block;
	text-decoration: none;
	color: #2D2C2E;
	font-size: 15px;
	margin-bottom: 10px;
}

.menu .menu-items a i {
	color: #FD1F4A;
}

/*Main*/

.main {
	margin-top: 150px;

}

/*Menu comida*/

.main .menu-comida .menu-comida-categoria {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: center;
	justify-content: center;
}

.main .menu-comida .menu-comida-categoria .categotia {
	width: 30%;
	margin: 0 5px;
}

.main .menu-comida .menu-comida-categoria .categotia .imagen {
	width: 80px;
	margin: auto;
}

.main .menu-comida .menu-comida-categoria .categotia .imagen img {
	width: 100%;
}

.main .menu-comida .menu-comida-categoria .categotia h3 {
	text-align: center;
}

.selec {
	text-decoration: underline 5px #FD1F4A;
}

/*Menu comida lista*/

#ListPizza {
	display: block;
}

.main .menu-comida .menu-comida-lista {
	margin-top: 50px;
}

.main .menu-comida .menu-comida-lista h2 {
	text-align: center;
	text-decoration: underline dotted 5px #FD1F4A;
	color: #FD1F4A;
}

.main .menu-comida .menu-comida-lista .lista {
	padding: 10px 0px 50px 0px;
	display: none;
}

.main .menu-comida .menu-comida-lista .lista .comida {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: center;
	justify-content: flex-start;
	padding: 10px;
	border-bottom: 1px solid #2D2C2E;
	margin-bottom: 30px;
}

.main .menu-comida .menu-comida-lista .lista .comida .imagen {
	width: 40%;
}

.main .menu-comida .menu-comida-lista .lista .comida .imagen img {
	width: 100%;
	border-radius: 20px;
}

.main .menu-comida .menu-comida-lista .lista .comida .descripcion {
	margin-left: 10px;
	width: 60%;
}

.main .menu-comida .menu-comida-lista .lista .comida .descripcion h3 {
	line-height: 0px;
}

.main .menu-comida .menu-comida-lista .lista .comida .descripcion p {
	font-size: 12px;
}

.main .menu-comida .menu-comida-lista .lista .comida .descripcion a {
	text-decoration: none;
	font-size: 15px;
	color: #FD1F4A;
}